body {
    display: flex;
    flex-direction: column;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color:mintcream;
} 

h1 {
    text-align: center;
}

.footer {
    display: flex;
    margin: 20px;
    margin-bottom: 0;
    align-items: center;
    align-self: center;
    justify-content: center;
    font-size: 10px;
}

.calc-container {
    display: flex;
    flex-direction: column;
    background-color: rgb(245, 244, 244);
    max-width: 365px;
    min-width: 320px;
    height: fit-content;
    margin: auto;
    padding-top: 40px;
    align-items: center;
    box-shadow: #a3a1a1 4px 5px 2px;
    border-radius: 5px;
} 
.display {
    display: flex;
    flex: content;
    flex-wrap: wrap;
    min-width: 275px;
    height: f-content;
    flex-direction: column;
    background-color: white;
    min-height: 70px;
    border: #6e6e6e 1px dotted;
    margin: 10px;
    align-items: center;
    justify-content: space-between;
    order: -1
}

.display-expression, .display-result {
    display: flex;
    flex: content;
    height: fit-content;
    flex-wrap: wrap;
    text-align: right;
    justify-content: right;
    padding: 5px;
    min-width: 275px;
    order: -1
    /* max-width: 325px; */
}

.display-result {
    font-size: larger;
}

.keyboard {
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    margin-top: 0;
    text-align: center;
    justify-content: space-between;
    padding: 15px;
    min-height: 50px;
    min-width: 200px;
}

.key {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: white;
    height: 50px;
    width: 50px;
    margin: 6px;
    align-items: center;
    justify-content: center;
    box-shadow: #a3a1a1 0 5px 5px;
    transition: all .1s ease;
}

.key-click {
    transform: scale(.9);
    box-shadow: 0 0 5px #6e6e6e;
  }